<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<title>Design Maxims – Short quotes and ruminations on what design (and life) can be.</title>
	<meta name="description" content="Short quotes and ruminations on what design (and life) can be.">
	<meta name="keywords" content="Design, quotes, inspiration">
	<meta name="author" content="Daniel Shires">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="manifest" href="site.webmanifest" />
	<link rel="apple-touch-icon" href="/img/icon.png" />

	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="body" class="background-color" data-barba="container">

	<header id="header" class="header-content">
		<nav id="nav-desktop" class="nav">
			<div class="brand">
				<div class="logo"><a href="index.html">Desgin Maxims</a></div>
				<div class="logo-sub">
					Short quotes and ruminations on what design (and
					life) can be.
				</div>
			</div>
			<ul class>
				<!-- <li class="nav-desktop-text"><a href="about.html">About</a></li> -->
				<li class="nav-link"><button class="random-button" name="Random">Random</button>
				</li>
			</ul>
		</nav>
	</header>

	<main id="main" data-barba="wrapper">
		<div class="quote-wrapper">
			<div id="quotetext" class="quote" aria-label="Quote">The quote goes here</div>
			<div id="quotesource" class="author" aria-label="Author">Author Name</div>
		</div>
	</main>

	<footer id="footer">
		<div class="footer-desktop">
			<div class="footer left-side">
				<a href="https://www.danielshires.com" target="_blank">© Daniel Shires 2020</a>
			</div>
			<div class="footer right-side animate__animated animate__bounce animate__delay-3s">
				<a href="https://hello705083.typeform.com/to/H02Wke" target=_blank><span>Feedback</span></a>
			</div>
		</div>

		<div class="footer-mobile">
			<div class="footer-sub">
				<p>Short quotes and ruminations on what design (and
					life) can be.</p>
			</div>
		</div>
	</footer>

	<script src="/js/scripts.js"></script>
	<script src="/js/barba.js"></script>
	<script src="/js/barba-css.js"></script>
	<script src="/js/barba-scripts.js"></script>

</body>

</html>